html {
  box-sizing: border-box;
  overflow-x: auto;
}
* {
  margin: 0px;
  padding: 0px;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --c-mint: rgb(149, 225, 211);
  --c-white: rgb(255, 255, 255);
  --c-dgray: rgb(51, 51, 51);
  --c-lgray: rgb(153, 153, 153);
  --c-pink: rgb(243, 129, 129);
  --c-yellow: rgb(252,227,138);
  --f-rob: "Roboto", "Arial", sans-serif;
  --f-monts: "Montserrat", "Arial", sans-serif;
  --f-kaush: "Kaushan Script", "Arial", sans-serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*GENERAL*/

.container {
  margin: 0 auto;
  width: 1200px;
  font-style: normal;
  text-align: center;
}
.link {
  text-decoration: none;
}
.title {
  text-transform: uppercase;
  font-family: var(--f-monts);
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  color: var(--c-dgray);
  text-align: center;
}
.title span {
  display: block;
  font-family: var(--f-kaush);
  font-size: 24px;
  text-transform: none;
}
.text {
  font-family: var(--f-rob);
  font-size: 15px;
  line-height: 24px;
  color: var(--c-lgray);
}
.list{
  list-style: none;
}
.image{
  display: block;
  height: auto;
  max-width: 100%;
}


/*HEADER*/

.introduction{
position: relative;
background: url( "../img/bgimg-min.png") no-repeat;
background-size: cover;
background-position: center;
min-height: 1000px;
margin-bottom: 50px;
}
.introduction::after{
  position: absolute;
  display: block;
  content: "";
  background-image: linear-gradient(to top, rgba(252,227,138,0.8) , rgba(243,129,129,0.8));
  width: 100%;
  min-height: 1000px;
  z-index: 1;
}
.head-wrap {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  align-items: center;
  position: absolute;
  z-index: 2;
  left:10%;
  
}
.logo {
  display: inline-block;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  font-family: var(--f-monts);
  color: var(--c-white);
  animation: logo-here 2s linear;
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 450px;
}

.site__nav--item{
  height: 20px;
  /*margin-bottom: 20px;*/
}
.site__nav--link{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--f-monts);
  color: var(--c-white);
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.site__nav--icon{
  fill:var(--c-white);
}
.site__nav--item:not(:nth-child(n+5)) {
  margin-right: 30px;
}
.logo:hover,
.logo:focus,
.site__nav--link:hover,
.site__nav--link:focus {
  color: var(--c-yellow);
}
.site__nav--link:after {
  background-color: var(--c-yellow);
  display: block;
  content: "";
  margin-top: 10px;
  height: 3px;
  width: 0%;
  transition: width 0.2s linear;
}
.site__nav--link:hover:after,
.site__nav--link:focus:after {
  width: 100%;
}
.intro-container{
  color:var(--c-white);
  z-index: 2;
}
.intro-title{
position: absolute;
}
.additional{

}
/*SERVICES*/

.service {
  padding: 40px 0;
}
.service-position {
  margin-bottom: 108px;
}
span{
  margin-bottom: 10px;
}
.service-position:after {
  background-color: var(--c-pink);
  display: block;
  content: "";
  margin-top: 36px;
  height: 3px;
  width: 5%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}
.service-position:hover:after,
.service-position:focus:after {
  width: 20%;
}
.small-title {
  text-transform: uppercase;
  color: var(--c-dgray);
  font-family: var(--f-monts);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-item {
  display: flex;
  margin-bottom: 94px;
  padding-left: 70px;
  justify-content: space-between;
}
.service-wrap {
  position: relative;
width:280px;
}
.service-item:not(:nth-of-type(3n)) {
  margin-right: 70px;
}
.service-item:nth-last-of-type(-n + 3) {
  margin-bottom: 0px;
}
.service-item:nth-child(n+1){
  color:var(--c-mint);
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
.service-item:nth-child(1){
  background-image: url(../img/clock.png);
}
.service-item:nth-child(2){
  background-image: url(../img/line-graph.png);
}
.service-item:nth-child(3){
  background-image: url(../img/computer.png);
}
.service-item:nth-child(4){
  background-image: url(../img/book.png);
}
.service-item:nth-child(5){
  background-image: url(../img/house.png);
}
.service-item:nth-child(6){
  background-image: url(../img/square.png);
}

/*TEAM*/

.team {
  padding: 78px 0;
}
.team-position {
  margin-bottom: 86px;
}
.team-position:after {
  background-color: var(--c-pink);
  display: block;
  content: "";
  margin-top: 36px;
  height: 3px;
  width: 5%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}
.team-position:hover:after,
.team-position:focus:after {
  width: 20%;
}
.discription{
  width: 944px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 86px;
}
.team-name{
  text-align: center;
}
.team-text {
    font-family: var(--f-rob);
    font-size: 15px;
    line-height: 24px;
    color: var(--c-lgray);
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.team-item {
  display: flex;
  position: relative;
  flex-direction: column;
}
.overlay-team{
  margin-bottom: 40px;
  transition-duration: 0.2s;
}

.overlay{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
  rgba(252,227,138,0.9) 0%,
  rgba(243,129,129,0.9) 100%
  );
  opacity: 0;
  transition-duration: 0.2s;
}
.overlay-team:hover{
  cursor: pointer;
  transform: translate(-10px, -10px);
  transition: 0.2s linear;
}
.overlay-team:hover .overlay{
opacity: 1;
box-shadow: 10px 10px var(--c-mint);
cursor: pointer;
}

  .overlay-list-icons {
    display: flex;
    cursor: pointer;
  }
  .overlay-icon {
  width: 55px;
  height: 55px;
  background-color: var(--c-yellow);
  }
  .overlay-icon:not(last-child){
    margin-right: 1px;
  }
.overlay-list-icons a {
color:var(--c-yellow);
width: 100%;
height: 100%;
display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-list-icons svg {
  width: 27px;
  height: 27px;
  fill: var(--c-pink);
  }
.overlay-icon:hover,
.overlay-icon:focus{
  background-color: var(--c-pink);
}
.overlay-icon:hover svg,
.overlay-icon:focus svg{
  fill: var(--c-white);
}

/*FOOTER*/

.container-footer {
  display: flex;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
}
.footer-text{
font-size: 14px;
color:var(--c-dgray);
line-height: 24px;
font-family: var(--f-monts);
font-weight: 400;
}
.footer-link{
color: var(--c-pink);
}
.footer-btn{
background-color:var(--c-mint);
font-size: 14px;
font-weight: 700;
font-family:var(--f-monts);
color:var(--c-white);
cursor: pointer;
text-transform: uppercase;
padding: 10px 30px;
border: none;
}
.footer-form{
  display: flex;
  outline: 1px solid rgba(231,231,231,0.8);
}
.footer-form input{
color:var(--c-dgray);
font-size: 15px;
line-height: 24px;
font-family: var(--f-rob);
font-weight: 300;
font-style: italic;
padding: 0px 140px 0px 10px;
opacity: 0.5;
border: none;
}
footer::before {
  background-color: var(--c-lgray);
  display: block;
  content: "";
  margin: 2px auto;
  height: 1px;
  width: 90%;
  opacity: 0.5;
}

.picture {
  background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1000px;
  z-index: 3;
}
