
html {
  box-sizing: border-box;
  overflow-x: auto;
}
* {
  margin: 0px;
  padding: 0px;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --c-black: rgb(34, 34, 34);
  --c-white: rgb(255, 255, 255);
  --c-lgray: rgb(187, 187, 187);
  --c-dgray: rgb(119, 119, 119);
  --c-yellow: rgb(254, 209, 54);
  --f-rob: "Roboto Slab", "Arial", sans-serif;
  --f-monts: "Montserrat", "Arial", sans-serif;
  --f-droid: "Droid Serif", "Times New Roman", serif;
  --f-wis: "Wisdom Script", "Times New Roman", serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*GENERAL*/

.container {
  margin: 0 auto;
  max-width: 940px;
  font-style: normal;
}
a {
  text-decoration: none;
}
.title {
  text-transform: uppercase;
  font-family: var(--f-monts);
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  margin-bottom: 20px;
}
span {
  display: block;
  font-family: var(--f-droid);
  font-size: 16px;
  text-transform: none;
  font-style: normal;
  color: var(--c-dgray);
  text-align: center;

}
.text {
    text-align: center;
  font-family: var(--f-rob);
  font-size: 14px;
  line-height: 24px;
  color: var(--c-dgray);
}
ul{
  list-style: none;
}
img{
  display: block;
  height: auto;
  max-width: 100%;
}

/*HEADER*/

.head-wrap {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
}
.logo {
  display: flex;
  font-size: 26px;
  line-height: 41px;
  font-weight: 700;
  font-family: var(--f-wis);
  color: var(--c-yellow);
  align-items: center;
  margin: 0 auto;
}
.menu-nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
.menu-item {
  margin-right: 40px;
}

.menu-item a {
  font-size: 14px;
  font-weight: 700;
  line-height: 41px;
  font-family: var(--f-monts);
  color: var(--c-black);
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-item:last-child {
  margin-right: 0px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--c-yellow);
}

/*SERVICES*/

.service {
  padding: 100px 0;
}
span{
  margin-bottom: 75px;
}
.small-title {
  color: var(--c-black);
  font-family: var(--f-monts);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 14px;
  text-align: center;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-item {
 display: flex;
}
.service-wrap{
    min-height: 215px;
    padding: 0px 15px;
    max-width: 280px;
}
.service-item:nth-last-of-type(-n + 3) {
  margin-bottom: 0px;
}
.small-title::before{
  content: '';
  color:var(--c-yellow);
  background-repeat: no-repeat;
  background-size: 74px 74px;
  display: block;
  height: 76px;
  background-position: center;
  margin-bottom: 18px;
}
.icon-basket::before{
  background-image: url(../img/full-icon1.png);
}
.icon-laptop::before{
  background-image: url(../img/full-icon2.png);
}
.icon-locked::before{
  background-image: url(../img/full-icon3.png);
}

/*FORM*/

.dark-form{
    background-color: var(--c-black);
    padding: 110px 0;
    background-position: bottom 30% right 0%;
    background-repeat: no-repeat;
    background-image: url(../img/map-image.png);
    text-align: center;
}

.form-title{
    color:var(--c-white);
}
.form-wrap{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: space-between;
   height:300px;
}
.name-input,
.email-input,
.subject-input,
.textarea{
    width: 400px;
    font-weight: 700;
    font-family: var(--f-monts);
    font-size: 14px;
    margin-bottom: 44px;
    padding: 20px;
    color:var(--c-dgray);
    border-radius: 5px;
    border: none;
}
textarea{
    resize: none;
}
#button{
    width: 240px;
    font-weight: 700;
    font-family: var(--f-monts);
    font-size: 18px;
    background-color:var(--c-yellow);
    padding: 20px;
    color:var(--c-white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: transparent;
}
input::placeholder,
textarea::placeholder{
    color: var(--c-lgray);
    text-transform: uppercase;
}
input:not(#subject):focus,
textarea:focus{
    outline: 2px solid red;
}
input:not(#subject):not(#button):valid,
textarea:valid{
    outline: 2px solid green;
}
