$c-mint: rgb(149, 225, 211);

$c-white: rgb(255, 255, 255);

$c-dgray: rgb(51, 51, 51);

$c-lgray: rgb(153, 153, 153);

$c-pink: rgb(243, 129, 129);

$c-yellow: rgb(252, 227, 138);

$f-rob: "Roboto", "Arial", sans-serif;

$f-monts: "Montserrat", "Arial", sans-serif;

$f-kaush: "Kaushan Script", "Arial", sans-serif;

$lg-pink: rgba(243, 129, 129, 0.8);

$lg-yellow: rgba(252, 227, 138, 0.8);

$lg-lgray: rgba(231, 231, 231, 0.9);
