@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .introduction {
    background: url('../images/bgimg@2x-min.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
}
