.text{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    line-height: 24px;
    font-family: 'Playfair Display', 'Times New Roman', serif;
}
.link:hover {
    color: red;
}