@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
html {
  box-sizing: border-box;
  overflow-x: auto;
}
* {
  margin: 0px;
  padding: 0px;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --color-mint: rgb(149, 225, 211);
  --color-white: rgb(255, 255, 255);
  --color-dgray: rgb(51, 51, 51);
  --color-lgray: rgb(153, 153, 153);
  --color-pink: rgb(243, 129, 129);
  --color-yellow: rgb(252,227,138);
  --font-roboto: "Roboto", "Arial", sans-serif;
  --font-montserrat: "Montserrat", "Arial", sans-serif;
  --font-kaushan: "Kaushan Script", "Arial", sans-serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*GENERAL*/

.container {
  margin: 0 auto;
  width: 1210px;
  font-style: normal;
}
a {
  text-decoration: none;
}
.title {
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  color: var(--color-dgray);
  text-align: center;
}
.title span {
  display: block;
  font-family: var(--font-kaushan);
  font-size: 24px;
  text-transform: none;
}
.text {
  font-family: var(--font-roboto);
  font-size: 15px;
  line-height: 24px;
  color: var(--color-lgray);
}
ul{
  list-style: none;
}
img{
  display: block;
  height: auto;
  max-width: 100%;
}


/*HEADER*/

.head-wrap {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  align-items: center;
}
.logo {
  display: inline-block;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--color-mint);
  animation: logo-here 2s linear;
}
.menu-nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 400px;
}
@keyframes logo-here{
  0%{
    transform:translateX(-100px);
    opacity: 0;
    color:rgb(37,152,246);
  }
  50%{
    transform: translateX(0);
    opacity: 1;
    transform: rotate(0);
    color:var(--color-pink);
  }
  100%{
transform: rotate(360deg);
color:var(--color-mint);
  }
}
.menu-item{
  height: 20px;
  /*margin-bottom: 20px;*/
}
.menu-item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--font-montserrat);
  color: var(--color-mint);
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-item:not(:nth-child(n+5)) {
  margin-right: 30px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-pink);
}
.nav-link:after {
  background-color: var(--color-pink);
  display: block;
  content: "";
  margin-top: 10px;
  height: 3px;
  width: 0%;
  transition: width 0.2s linear;
}
.nav-link:hover:after,
.nav-link:focus:after {
  width: 100%;
}

/*SERVICES*/

.service {
  padding: 40px 0;
}
.service-position {
  margin-bottom: 108px;
}
span{
  margin-bottom: 10px;
}
.service-position:after {
  background-color: var(--color-pink);
  display: block;
  content: "";
  margin-top: 36px;
  height: 3px;
  width: 5%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}
.service-position:hover:after,
.service-position:focus:after {
  width: 20%;
}
.small-title {
  text-transform: uppercase;
  color: var(--color-dgray);
  font-family: var(--font-montserrat);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-item {
  display: flex;
  margin-bottom: 94px;
  padding-left: 70px;
  justify-content: space-between;
}
.service-wrap {
  position: relative;
width:280px;
}
.service-item:not(:nth-of-type(3n)) {
  margin-right: 70px;
}
.service-item:nth-last-of-type(-n + 3) {
  margin-bottom: 0px;
}
.service-item:nth-child(n+1){
  color:var(--color-mint);
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
.service-item:nth-child(1){
  background-image: url(../img/clock.png);
}
.service-item:nth-child(2){
  background-image: url(../img/line-graph.png);
}
.service-item:nth-child(3){
  background-image: url(../img/computer.png);
}
.service-item:nth-child(4){
  background-image: url(../img/book.png);
}
.service-item:nth-child(5){
  background-image: url(../img/house.png);
}
.service-item:nth-child(6){
  background-image: url(../img/square.png);
}

/*TEAM*/

.team {
  padding: 78px 0;
}
.team-position {
  margin-bottom: 86px;
}
.team-position:after {
  background-color: var(--color-pink);
  display: block;
  content: "";
  margin-top: 36px;
  height: 3px;
  width: 5%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}
.team-position:hover:after,
.team-position:focus:after {
  width: 20%;
}
.discription{
  width: 944px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 86px;
}
.team-name{
  text-align: center;
}
.team-text {
    font-family: var(--font-roboto);
    font-size: 15px;
    line-height: 24px;
    color: var(--color-lgray);
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.team-item {
  display: flex;
  position: relative;
  flex-direction: column;
}
.overlay-team{
  margin-bottom: 40px;
  transition-duration: 0.2s;
}

.overlay{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
  rgba(252,227,138,0.9) 0%,
  rgba(243,129,129,0.9) 100%
  );
  opacity: 0;
  transition-duration: 0.2s;
}
.overlay:hover{
opacity: 1;
box-shadow: 10px 10px var(--color-mint);
cursor: pointer;
}
.overlay-team:hover{
  cursor: pointer;
  transform: translate(-10px, -10px);
  transition: 0.2s linear;
}
  .overlay-list-icons{
    display: flex;
    cursor: pointer;
  }
  .overlay-icon {
  width: 55px;
  height: 55px;
  background-color: var(--color-yellow);
  }
  .overlay-icon:not(last-child){
    margin-right: 1px;
  }
.overlay-list-icons a {
color:var(--color-pink);
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 100%;
display: block;
}
.icon-facebook{
background-image: url(../img/facebook.png);
}
.icon-instagram{
background-image: url(../img/instagram.png);
}
.icon-pinterest{
background-image: url(../img/pinterest.png);
}
.icon-twitter{
background-image: url(../img/twitter.png);
}
.overlay-icon:hover,
.overlay-icon:focus{
  background-color: var(--color-mint);
}

/*FOOTER*/

.container-footer {
  display: flex;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
}
.footer-text{
font-size: 14px;
color:var(--color-dgray);
line-height: 24px;
font-family: var(--font-montserrat);
font-weight: 400;
}
.footer-link{
color: var(--color-pink);
}
.footer-btn{
background-color:var(--color-mint);
font-size: 14px;
font-weight: 700;
font-family:var(--font-montserrat);
color:var(--color-white);
cursor: pointer;
text-transform: uppercase;
padding: 10px 30px;
border: none;
}
.footer-form{
  display: flex;
  outline: 1px solid rgba(231,231,231,0.8);
}
.footer-form input{
color:var(--color-dgray);
font-size: 15px;
line-height: 24px;
font-family: var(--font-roboto);
font-weight: 300;
font-style: italic;
padding: 0px 140px 0px 10px;
opacity: 0.5;
border: none;
}
footer::before {
  background-color: var(--color-lgray);
  display: block;
  content: "";
  margin: 2px auto;
  height: 1px;
  width: 90%;
  opacity: 0.5;
}