html {
    box-sizing: border-box;
    overflow-x: auto;
  }
  * {
    margin: 0px;
    padding: 0px;
  }
  *::before,
  *::after {
    box-sizing: inherit;
  }
  :root {
    --c-black: rgb(34, 34, 34);
    --c-white: rgb(255, 255, 255);
    --c-lgray: rgb(102, 102, 102);
    --c-dgray: rgb(51, 51, 51);
    --c-yellow: rgb(255, 165, 7);
    --c-coral:rgb(255,78,80);
    --c-blue:rgb(78,115,219);
    --c-mint:rgb(28,215,173);
    --f-rob: "Roboto", "Arial", sans-serif;
    --f-monts: "Montserrat", "Arial", sans-serif;
  }
  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /*GENERAL*/

  a{
    text-decoration: none;
    font-size: 14px;
    font-family:var(--f-monts);
  }
  h1,
  h2,
  h3{
    font-family:var(--f-monts);
    font-weight: 700;
  }
  p{
      font-family:var(--f-rob);
      font-weight: 300;
  }
  ul{
    list-style: none;
  }
  img{
    display: block;
    height: auto;
    max-width: 100%;
  }
button{
    font-family:var(--f-monts);
    font-weight: 700;
    font-size: 14px;
    color: var(--c-white);
}
/*HEADER*/

.header-wrap{

}
.header-title{

}
  .logo {
    display: flex;
    font-size: 20px;
    line-height: 40px;
    color: var(--c-white);
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
  } 
.log-in{

}
.sign-up{
border-radius: 25%;
border: 3px;
background-color:var(--c-white);
}

/*INTRO*/

.wrapper{

}
.title{
text-transform: uppercase;
font-size: 30px;
}
.text{
    color: var(--c-white);
    font-size: 18px;

}
.holiday-partner{
    color: var(--c-white);
    background-color:var(--c-coral);
    border-radius: 25%;
}

  /*PROFILES*/

  .container{

  }
  .profile-list{

  }
  .profile-item{

  }
.info{
color:var(--c-lgray);
font-size: 14px;
}
.name-title{
font-size: 14px;
color: var(--c-dgray);
}
.other-partner{
    color:var(--c-coral);
    background-color: var(--c-white);
    border-radius: 25%;
    border-color: var(--c-coral);
border:2px;
}
