html {
  box-sizing: border-box;
  overflow-x: auto;
}
* {
  margin: 0px;
  padding: 0px;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --c-black: rgb(34, 34, 34);
  --c-white: rgb(255, 255, 255);
  --c-lgray: rgb(102, 102, 102);
  --c-dgray: rgb(51, 51, 51);
  --c-yellow: rgb(255, 165, 7);
  --c-coral: rgb(255, 78, 80);
  --c-blue: rgb(78, 115, 219);
  --c-mint: rgb(28, 215, 173);
  --f-rob: "Roboto", "Arial", sans-serif;
  --f-monts: "Montserrat", "Arial", sans-serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*GENERAL*/

a {
  text-decoration: none;
  font-size: 14px;
  font-family: var(--f-monts);
  display: inline-block;
  width: 280px;
  height: 42px;
  text-align: center;
  border-radius: 20px;
  line-height: 40px;
}
h1,
h2,
h3 {
  font-family: var(--f-monts);
  font-weight: 700;
}
p {
  font-family: var(--f-rob);
  font-weight: 300;
}
ul {
  list-style: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
  border: 2px solid var(--c-white);
  border-radius: 50%;
}
button {
  font-family: var(--f-monts);
  font-weight: 700;
  font-size: 14px;
  color: var(--c-white);
  min-width: 92px;
  min-height: 38px;
  border-style: none;
  background: none;
}
.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*INTRO*/

.intro {
  background: no-repeat url("../img/picture-desk.png") center top;
  background-color: rgb(26, 25, 21);
  min-height: 540px;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
}
.virtual-header {
  width: 100vw;
  margin-bottom: 40px;
  padding-top: 20px;
}
.registration {
  width: 190px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.logo {
  display: flex;
  font-size: 20px;
  line-height: 40px;
  color: var(--c-white);
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
  justify-content: center;
  width: 180px;
}
.sign-up {
  border-radius: 20px;
  border: 3px solid var(--c-white);
}
.intro-part {
  width: 278px;
}
.title {
  text-transform: uppercase;
  font-size: 30px;
  color: var(--c-white);
  margin-bottom: 16px;
  font-size: 30px;
  margin-bottom: 16px;
}
.text {
  color: var(--c-white);
  padding: 0 48px;
  font-size: 18px;
  margin-bottom: 16px;
}
.holiday-partner {
  color: var(--c-white);
  background-color: var(--c-coral);
}

/*PROFILES*/

.profile-title {
  margin-top: 70px;
  margin-bottom: 16px;
}
.profile-list {
  display: inline-block;
  width: 80%;
}
.profile-item {
  max-width: 234px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
.profile-item:not(:last-child) {
  margin-bottom: 28px;
}
.avatar {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 120px;
}
.avatar::after {
  content: "";
  background-repeat: no-repeat;
  display: block;
  height: 33px;
  width: 33px;
  background-position: center;
  border: 4px solid var(--c-white);
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
  right: 0;
}
.icon-cup::after {
  background-color: var(--c-mint);
  background-image: url(../img/icon3.png);
}
.icon-plane::after {
  background-color: var(--c-blue);
  background-image: url(../img/icon4.png);
}
.icon-tv::after {
  background-color: var(--c-coral);
  background-image: url(../img/icon1.png);
}
.icon-tube::after {
  background-color: var(--c-yellow);
  background-image: url(../img/icon2.png);
}
.info {
  color: var(--c-lgray);
  font-size: 14px;
}
.name-title {
  font-size: 14px;
  color: var(--c-dgray);
  margin-bottom: 16px;
}
.other-partner {
  color: var(--c-coral);
  background-color: var(--c-white);
  border: 2px solid var(--c-coral);
  margin-top: 26px;
  margin-bottom: 56px;
}



